@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Rubik:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::first-letter {
  text-transform: uppercase;
}

html {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #18181b;
  background-color: #f9fafb;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1;
}

a {
  -webkit-text-decoration: auto;
          text-decoration: auto;
}

p {
  margin-top: 1em;
}

ol,
ul {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

.title {
  font-size: 3.375rem;
  text-transform: capitalize;
}

.sub-title {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 2px;
}

.container {
  max-width: 650px;
  margin: 0 auto;
  padding: 0 1em;
}

.header {
  min-height: 50vh;
  background: linear-gradient(45deg, rgba(12, 79, 224, 0.8), rgba(175, 52, 231, 0.8)), url("./../images/background.jpg") no-repeat center/cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3em;
}

.header .title {
  z-index: 100;
  color: white;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.header form {
  position: relative;
}

.header form label {
  color: white;
  display: inline-block;
  position: absolute;
  bottom: 120%;
  left: 0;
}

.header form input {
  min-width: 100%;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  padding: 0.3em 2.3em 0.3em 0.5em;
}

.header form small {
  background-color: white;
  color: #ff4747;
  position: absolute;
  left: 0;
  bottom: -3rem;
  padding: 0.3em 0.5em;
  border-radius: 5px;
  display: none;
}

.header form small::before {
  content: "";
  width: 0;
  height: 0;
  border: 0.5em solid transparent;
  border-top: 0;
  border-bottom: 1em solid white;
  position: absolute;
  left: 10px;
  bottom: 90%;
}

.header form small.active {
  display: block;
}

.header .submit-btn {
  border-radius: 5px;
  background: transparent;
  border: none;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #bf44cf;
  color: white;
  padding: 0.3em;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.header .submit-btn:hover, .header .submit-btn:active {
  background-color: #313135;
}

.todo-list-container {
  background-color: #18181b;
  padding: 3em;
}

.todo-list {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #313135;
}

.todo-list .todo-item {
  color: #f9fafb;
  border-bottom: 2px solid #56565d;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.todo-list .todo-item.active {
  text-decoration: line-through;
  opacity: 0.5;
}

.todo-list .todo-item .complete {
  height: 20px;
  width: 20px;
  border: 2px solid #56565d;
  border-radius: 100%;
  cursor: pointer;
  margin-right: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.todo-list .todo-item .complete .check {
  font-size: 0.8rem;
  display: none;
}

.todo-list .todo-item .complete.active {
  background: linear-gradient(-45deg, rgba(12, 79, 224, 0.8), rgba(175, 52, 231, 0.8));
}

.todo-list .todo-item .complete.active .check {
  display: block;
}

.todo-list .todo-item .delete {
  margin-left: auto;
  cursor: pointer;
  padding: 0 0 0 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.todo-list .todo-item .delete:hover {
  color: #ff4747;
}

.todo-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #313135;
  padding: 1em;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.todo-footer p {
  color: #7a7a85;
  margin: 0;
  cursor: pointer;
  text-transform: capitalize;
}

.todo-footer p .total-items {
  margin-right: 0.5em;
}

.todo-filter-container {
  background-color: #18181b;
  padding: 0 3em 3em;
}

.todo-filter-container .todo-filter {
  border-radius: 5px;
  background-color: #313135;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3em;
}

.todo-filter-container .todo-filter .filter-btn {
  background-color: transparent;
  border: none;
  outline: none;
  color: #f9fafb;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.todo-filter-container .todo-filter .filter-btn.active {
  color: #bf44cf;
}

.todo-filter-container .todo-filter .filter-btn:hover, .todo-filter-container .todo-filter .filter-btn:active {
  color: #bf44cf;
}

.footer {
  padding: 2em;
  border-top: 1px solid #56565d;
  background-color: #18181b;
}

.footer p {
  color: #56565d;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */